<section class="bottom-cta text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Collect more. Produce more. Motivate your staff.</h4>
                <a href="#" class="btn btn-warning btn-lg">Get your free quote today</a>
            </div>
        </div>
    </div>
</section>