<footer class="page-footer">
	<div class="container">
		<div class="row mb-5">
			<div class="col-3">
				<div class="footer-logo"><img src="../assets/img/eassist-logo-reverse.png" alt="eAssist Logo"></div>
			</div>
			<div class="col-5 align-self-center">
				<h6 class="footer-tagline"><a href="#">Toll Free 844-eAssist or 844.327.7478</a></h6>
			</div>
			<div class="col-4 align-self-center menu-socials">
				<ul>
					<li><a href="#"><span class="icon-facebook"></span></a></li>
					<li><a href="#"><span class="icon-twitter"></span></a></li>
					<li><a href="#"><span class="icon-linkedin"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<h4>address</h4>
				<p>eAssist Dental Solutions, Inc. 1712 Pioneer Ave. Suite 1384 Cheyenne, WY 8200</p>
			</div>
			<div class="col-2">
				<h4>CORPORATE HQ</h4>
				<ul>
					<li>Sunnyvale, CA 408.498.9831</li>
					<li>Dallas, TX 214.624.9811</li>
					<li>Fairfax, VA 703.539.6042</li>
				</ul>
			</div>
			<div class="col-2">
				<h4>INSIGHTS</h4>
				<ul>
					<li><a href="#">eAssist Top Doctor</a></li>
					<li><a href="#">Press Releases</a></li>
					<li><a href="#">Spotlights</a></li>
					<li><a href="#">Awards & Honors</a></li>
				</ul>
			</div>
			<div class="col-2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">Guides</a></li>
					<li><a href="#">Blogs</a></li>
					<li><a href="#">Billing Issues</a></li>
				</ul>
			</div>
			<div class="col-2"></div>
			<div class="col-2">
				<img src="../assets/img/inc-500.png" alt="inc-500">
			</div>
		</div>
		<p class="copyright">© 2019 eAssist, Inc.</p>
	</div>
</footer>
<!-- 3rd party JS -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/aos.js"></script>
<script src="../assets/js/lazyload.min.js"></script>
<script src="../assets/js/scripts.js"></script>
<!-- /3rd party JS -->
<script type="text/javascript">

	var ll = new LazyLoad({
		elements_selector: ".lazy",
	});
	AOS.init();
	console.log('all small scripts place template/footer.html ');
</script>
