<main>
	<article>
		<div class="hero-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 hero-text">
						<h2 class="h6">Increase your income by outsourcing your billing</h2>
						<p>Dental billing is one of over a dozen eAssist signature services to help dentists, orthodontists and practice managers achieve the income and peace of mind they deserve.</p>
						<a href="#" class="btn btn-primary">GET YOUR FREE QUOTE</a>
					</div>
					<div class="col-lg-7 d-none d-lg-block d-xl-block">
						<object type="image/svg+xml" data="../assets/img/hero-frame.svg" class="hero-image">
							<img data-src="../assets/img/hero-frame.svg" alt="hero-frame" class="hero-image-fallback lazy">
						</object>
					</div>
				</div>
			</div>
		</div>
		<section class="usp-large">
			<div class="container">
				<div class="row">
					<div class="col-lg-4"  data-aos="fade-up">
						<div class="usp-icon">
							<img data-src="../assets/img/sandglass.svg" alt="benefit1" class="lazy">
						</div>
						<div class="usp-text">
							<h4>benefit 1</h4>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="usp-icon"  data-aos="fade-up">
							<img data-src="../assets/img/research.svg" alt="benefit2" class="lazy">
						</div>
						<div class="usp-text">
							<h4>benefit 2</h4>
						</div>
					</div>
					<div class="col-lg-4"  data-aos="fade-up">
						<div class="usp-icon">
							<img data-src="../assets/img/profit.svg" alt="benefit3" class="lazy">
						</div>
						<div class="usp-text">
							<h4>benefit 3</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="hero-quote">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-1 pl-0 pr-0">
						<blockquote>
							<p class="quote-text">“Everyday they’re there; everyday they are allowing our front desk and our front management to do what they do best.
								And eAssist does what it does best.”</p>
							<p class="quote-author">Scott Dudley, DMD, Elite Dental</p>
						</blockquote>
					</div>
				</div>
			</div>
		</section>
        <section class="collection-amount">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="billingCounter" class="h1 text-center mb-4">$<span>2,166,041,757.00</span></div>
                        <p class="collection-note color-teal">Billed and collected for dentists to date!</p>
                    </div>
                    <script>

                    </script>
                </div>
            </div>
        </section>
        <section class="home-services bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h3 class="h4 color-white text-center">What eAssist can do for you</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-1">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="service-item d-block m-auto red text-center">
                                    <div class="content">
                                        <img src="../assets/img/dental-billing-icon.svg" alt="Dental Billing" class="icon"><h6 class="name">Dental Billing</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <div href="#" class="service-item d-block m-auto green text-center">
                                    <div class="content">
                                        <img src="../assets/img/patient-receivable-icon.svg" alt="Patient Accounts Receivable Management" class="icon"><h6 class="name">Patient Accounts Receivable Management</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                               <a href="#" class="service-item d-block m-auto orange text-center">
                                   <div class="content">
                                       <img src="../assets/img/dental-accounting-icon.svg" alt="Dental Accounting" class="icon"><h6 class="name">Dental
                                       Accounting</h6>
                                   </div>
                                </a>
                            </div>
                            <div class="separator"></div>
                            <div class="col">
                                <a href="#" class="service-item d-block m-auto chocolate text-center">
                                    <div class="content">
                                        <img src="../assets/img/dental-credentialing-icon.svg" alt="Dental Accounting" class="icon"><h6 class="name">Dental
                                        Credentialing</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="service-item d-block m-auto teal text-center">
                                    <div class="content">
                                        <img src="../assets/img/dental-medical-billing-icon.svg" alt="Dental Accounting" class="icon"><h6 class="name">Dental
                                        Medical Billing</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a href="#" class="service-item d-block m-auto purple text-center">
                                    <div class="content">
                                        <img src="../assets/img/dental-insurance-verification-icon.svg" alt="Dental Accounting" class="icon"><h6
                                            class="name">Dental
                                        Insurance Verification
                                    </h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        //= parts/bottom-cta.html
	</article>
</main>