<div class="comments">
    <h3 class="comments-title">3 Comments</h3>
    <ul class="comment-list">
        <li>
            <div class="comment">
                <div class="image">
                    <img alt="" src="../assets/img/post-author.png" width="40px">
                </div>
                <div class="comment-meta">
                    <h5 class="name">First Last Name</h5>
                    <span class="date">May 1, 2019</span>
                </div>
                <div class="comment-text">
                    <p>Fusce tortor metus, interdum et bibendum nec, fermentum at nisl. Aenean bibendum, risus in fringilla ultrices, sem dui ultricies elit, id ornare neque massa eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.</p>
                </div>
                <div class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="#" >Reply</a></div>
            </div>
            <ul class="children">
                <li>
                    <div class="comment">
                        <div class="image">
                            <img alt="" src="../assets/img/post-author.png" width="40px">
                        </div>
                        <div class="comment-meta">
                            <h5 class="name">First Last Name</h5>
                            <span class="date">May 1, 2019</span>
                        </div>
                        <div class="comment-text">
                            <p>Fusce tortor metus, interdum et bibendum nec, fermentum at nisl. Aenean bibendum, risus in fringilla ultrices, sem dui ultricies elit, id ornare neque massa eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.</p>
                        </div>
                        <div class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="#" >Reply</a></div>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="comment">
                <div class="image">
                    <img alt="" src="../assets/img/post-author.png" width="40px">
                </div>
                <div class="comment-meta">
                    <h5 class="name">First Last Name</h5>
                    <span class="date">May 1, 2019</span>
                </div>
                <div class="comment-text">
                    <p>Fusce tortor metus, interdum et bibendum nec, fermentum at nisl. Aenean bibendum, risus in fringilla ultrices, sem dui ultricies elit, id ornare neque massa eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.</p>
                </div>
                <div class="comment-reply"><a rel="nofollow" class="comment-reply-link" href="#" >Reply</a></div>
            </div>
        </li>
    </ul>
</div>