<main>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 p-0">
                    <div class="social-share">
                        <nav>
                            <ul>
                                <li><a href=""><span class="icon-facebook"></span></a></li>
                                <li><a href=""><span class="icon-twitter"></span></a></li>
                                <li><a href=""><span class="icon-linkedin"></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-8 pl-0 pr-0">
                    <div class="content post-content">
                        <h1>Headline headline headline headline</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus <span style="text-decoration-line: underline;">dignissim</span>
                            purus facilisis libero suscipit vulputate. <a href="#">Vestibulum</a> rutrum velit in mauris ullamcorper, id posuere nisi ornare. Fusce quis
                            purus sit amet nisi aliquet sodales. Sed quis vestibulum dolor. Morbi non sagittis ipsum.</p>
                        <p>Fusce tortor metus, interdum et <span style="text-decoration-line: underline;">bibendum</span> nec, fermentum at nisl. Aenean bibendum, risus in fringilla ultrices, sem dui ultricies elit, id ornare neque massa eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.</p>
                        <h2>Headline H2</h2>
                        <h3>Headline H3</h3>
                        <h4>Headline H4</h4>
                        <h5>Headline H5</h5>
                        <h6>Headline H6</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate. Vestibulum rutrum velit in mauris ullamcorper, id posuere nisi ornare. Fusce quis purus sit amet nisi aliquet sodales. Sed quis vestibulum dolor. Morbi non sagittis ipsum.</p>
                        <hr>
                        <img src="../assets/img/blog-content-image.png" alt="img">
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Phasellus dignissim purus facilisis libero suscipit vulputate. Vestibulum rutrum velit in mauris ullamcorper, id posuere nisi ornare. Fusce quis purus sit amet nisi aliquet sodales. Sed quis vestibulum dolor. Morbi non sagittis ipsum.</p>
                        <p>Fusce tortor metus, interdum et bibendum nec, fermentum at nisl. Aenean bibendum, risus in fringilla ultrices, sem dui ultricies elit, id ornare neque massa eget enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet ut ligula et semper.</p>
                    </div>
                    //= comments.html
                    //= related-posts.html
                </div>
            </div>
        </div>
    </article>
</main>