<header class="blog-header single">
    <div class="post-author">
        <img src="../assets/img/post-author.png" alt="author-pic">
        <div class="author-meta">
            <div class="name"><a href="#">Author Name</a></div>
            <div class="position">Author Title</div>
        </div>
    </div>
</header>
