<aside class="related-posts">
    <h4 class="title">RELATED STOriES</h4>
    <ul class="post-list">
        <li>
            <a href="#"><img src="../assets/img/post-thumbnail-placeholder.png" alt="" class="post-thumbnail">
                <div class="post-text">
                    <h6>Headline headline</h6>
                    <p>Pudam, corporporro explandia esequost quatioriberoblaciam consed elesequi dolorro...</p>

                </div>
            </a>
            <div class="meta">
                <img src="../assets/img/post-author.png" alt="post-author" class="author-pic">
                <a class="category" href="#">CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span>
            </div>
    </li>
        <li>
            <a href="#"><img src="../assets/img/post-thumbnail-placeholder.png" alt="" class="post-thumbnail">
                <div class="post-text">
                    <h6>Headline headline</h6>
                    <p>Pudam, corporporro explandia esequost quatioriberoblaciam consed elesequi dolorro...</p>
                </div>
            </a>
            <div class="meta">
                <img src="../assets/img/post-author.png" alt="post-author" class="author-pic">
                <a class="category" href="#">CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span>
            </div>
        </li>
        <li>
            <a href="#"><img src="../assets/img/post-thumbnail-placeholder.png" alt="" class="post-thumbnail">
                <div class="post-text">
                    <h6>Headline headline</h6>
                    <p>Pudam, corporporro explandia esequost quatioriberoblaciam consed elesequi dolorro...</p>
                </div>
            </a>
            <div class="meta">
                <img src="../assets/img/post-author.png" alt="post-author" class="author-pic">
                <a class="category" href="#">CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span>
            </div>
        </li>
    </ul>
</aside>  