// Global styles preset
@import "_partials/global-styles";

.site-header {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}
.hero-section {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  h2 {
    margin-bottom: 18px;
  }
  p {
    margin-bottom: 72px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(214.88px at 50.03% 73.18%, rgba(254, 254, 255, 0) 0%, rgba(193, 193, 193, 0.54) 100%);
    opacity: .6;
  }
  .hero-text {
    padding-top: 29px;
    padding-bottom: 68px;
  }
  .hero-image, .hero-image-fallback {
    max-width: 100%;
  }
  .container {
    position: relative;
  }
}

.usp-large {
  padding-top: 100px;
  padding-bottom: 75px;
  .usp-icon {
    text-align: center;
    margin-bottom: 50px;
    img {
      max-width: 100%;
    }
  }
  .usp-text {
    h4{
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 22px;
    }
  }

}

.hero-quote {
  background-color: #F6BB0F;
  padding-top: 80px;
  padding-bottom: 75px;
  .quote-text {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    margin-bottom: 60px;
  }
  .quote-author {
    color: #24282C;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.collection-amount {
  padding-top: 105px;
  padding-bottom: 115px;
  .collection-note{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
  }
}

.home-services {
  padding-top: 95px;
  padding-bottom: 135px;
  .separator {
    margin-bottom: 62px;
    width: 100%;
  }
  h3 {
    margin-bottom: 80px;
  }
  .service-item {
    position: relative;
    width: 237px;
    font-size: 0;
    height: 237px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #FFFFFF;
    text-decoration: none;
    .content {
      position: absolute;
      width: 70%;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .icon {
      width: 80px;
      //max-width: 100%;
      margin-bottom: 22px;
    }
    .name {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: $black;
    }
    &.red:hover::after, &.green:hover::after, &.orange:hover::after, &.chocolate:hover::after, &.teal:hover::after, &.purple:hover::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      border-style: solid;
      border-width: 8px;
    }
    &.red {
     &:hover::after {
       border-color: $brand-red;
    }
  }
    &.green {
      &:hover::after {
        border-color: $brand-green;
      }
    }
    &.orange {
     &:hover::after {
       border-color: $brand-orange;
     }
    }
    &.chocolate {
      &:hover::after {
        border-color: $brand-chocolate;
      }
    }
    &.teal {
      &:hover::after {
        border-color: $brand-teal;
      }
    }
    &.purple::after {
      &:hover {
        border-color: $brand-purple;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.bottom-cta {
  padding: 88px 0;
  h4 {
    margin-bottom: 60px;
  }
  &.dark {
    background-color: $black;
    h4 {
      color: $white;
    }
  }
}

.page-footer {
  background-color: $black;
  padding-top: 57px;
  padding-bottom: 47px;

  img {
    max-width: 100%;
  }

  .footer-tagline, .footer-tagline a {
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: $white;
    text-decoration: none;
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
  }

  p, li, li a {
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
  }
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      a, a:hover {
        text-decoration: none;
      }
    }
  }
  .menu-socials {

    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    li {
      font-size: 26px;

      ~ li {
        margin-left: 40px;
      }

      a {
        font-size: 26px;
      }
    }
  }

  .copyright {
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
  }
}

.blog {
  &-header {
    .hero-title {
      &.one {
        position: relative;
        max-height: 485px;
        padding-top: 97px;
        padding-bottom: 175px;
        background: url("../img/blog-header-1.jpg") center / contain no-repeat;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0;
          bottom: 0;
          background: radial-gradient(170.57px at 50.03% 73.18%, rgba(254, 254, 255, 0) 0%, rgba(193, 193, 193, 0.54) 100%);
          opacity: 0.6;
        }

        h3 {
          color: $blue;
        }

        .blog-tagline {
          font-weight: 600;
          font-size: 24px;
          line-height: 37px;
          color: #2E2D2E;
        }
      }

      &.two {
        position: relative;
        max-height: 485px;
        padding-top: 24px;
        padding-bottom: 175px;
        background: url("../img/blog-bg-2.png") center / cover no-repeat;

        h3 {
          color: $white;
        }
        .blog-tagline {
          font-weight: 600;
          font-size: 24px;
          line-height: 37px;
          color: #2E2D2E;
        }
      }

      &.three {
        position: relative;
        max-height: 485px;
        padding-top: 135px;
        padding-bottom: 121px;
        background: url("../img/blog-bg-3.png") center / cover no-repeat;

        h3 {
          color: $white;
          text-align: center;
          font-weight: 500;
        }
        .blog-tagline {
          font-weight: 600;
          font-size: 24px;
          line-height: 37px;
          text-align: center;
          color: $white;
        }
      }

    }
    &.single {
      min-height: 520px;
      background: url("../img/blog-post-original.png") top center / cover no-repeat;
      position: relative;
      margin-bottom: 85px;

      .post-author {
        position: absolute;
        right: 0;
        left: 64.4%;
        bottom: -35px;
        background-color: $blue;
        padding: 40px 45px;
        display: flex;
        align-items: center;

        img {
          width: 70px;
        }
        .author-meta {
          padding-left: 25px;
        }
        .name a{
          font-weight: bold;
          font-size: 24px;
          line-height: 49px;
          color: $white;
          text-decoration: none;
        }
        .position {
          font-weight: bold;
          font-size: 13px;
          line-height: 32px;
          color: #000000;
        }
      }
    }
  }

  .category-nav {
    background-color: #F6BB0F;
    padding-top: 27px;
    padding-bottom: 23px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      li {
        list-style-type: none;

        a {
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.1em;
          color: #131313;
          text-transform: uppercase;


          &:hover {
            color: #131313;
            text-decoration: none;
          }
        }
      }
    }
  }

  &-content {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .latest-article {
    padding-top: 25px;
    padding-bottom: 45px;

    .col-lg-6:last-child {
      padding-left: 64px;
    }

    .title a {
      color: $black;
      &:hover {
        text-decoration: none;
      }
    }
    .thumbnail {
      a {
        display: inline-block;
        font-size: 0;
        border-radius: 10px;
        overflow: hidden;
      }
      img {
        max-width: 100%;
      }
    }
    .categories {
      margin-bottom: 15px;
      a {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        color: $blue;
        text-transform: uppercase;
        &:hover {
          color: $blue;
          text-decoration: none;
        }
      }
    }
    .h5 {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 30px;
    }
    .meta {
      img {
        display: inline-block;
        margin-right: 10px;
        max-width: 25px;
        border-radius: 50%;
      }
      .author, .date, span {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: #808285;
      }
    }
  }

  .articles-list {
    padding-top: 30px;
    article {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 50px;
      .thumbnail {
        margin-bottom: 20px;
        a {
          font-size: 0;
          display: inline-block;
          border-radius: 10px;
          overflow: hidden;
        }
        img {
          max-width: 100%;
        }
      }
      .title {
        font-weight: 300;
        color: $black;
        margin-bottom: 10px;
        &:hover {
          text-decoration: none;
        }
      }
      .p {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: $black;
        margin-bottom: 20px;
      }
      .meta {
        .author-pic {
          display: inline-block;
          width: 25px;
          border-radius: 50%;
          margin-right: 3px;

        }
        .date, .category, span {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
        }
        .category {
          display: inline-block;
          color: $blue;
          &:hover {
            text-decoration: none;
          }
        }
        .date{
          color: #808285;
        }
      }
    }
  }

  .social-share {
    padding-top: 11px;
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
      margin-bottom: 20px;
    }
    a span{
      font-size: 21px;
      &:before {
        color: #D7D8D3;
      }
    }
  }
  .post-content {
    padding-bottom: 45px;
    margin-bottom: 10px;
    h1{
      font-weight: 300;
      font-size: 60px;
      line-height: 78px;
      color: $black;
      margin-bottom: 45px;
    }




  }
}
.comments {
  border-top: 1px dashed #808285;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #131313;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .image {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
    overflow: hidden;
  }
  .children {
    position: relative;
    margin-bottom: 10px;
    .comment {
      padding-top: 25px;
      padding-bottom: 18px;
     &:after {
       content: '';
       display: block;
       position: absolute;
       left: 0;
       top: 0;
       bottom: 0;
       right: 0;
       border-top: 1px solid rgba(35,39,53, .25);
       border-bottom: 1px solid rgba(35,39,53, .25);
     }
    }
  }
  .comment {
    padding-top: 15px;
    padding-bottom: 32px;
    &-meta {
      padding-left: 50px;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    &-text, &-text p {
      font-size: 12px;
      line-height: 16px;
      color: $black;
      margin-bottom: 13px;
    }
    &-reply a {
      font-weight: 700;
      font-size: 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $black;
    }
  }

  .name {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    color: $black;
    margin-bottom: 0;
  }
  .date {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: $black;
  }
  ul {
    list-style-type: none;
    &.comment-list {
      padding-left: 0;
    }
    &.child {
      padding-left: 40px;
    }
  }
}
.related-posts {
  border-top: 1px solid rgba(35,39,53, .25);
  padding-top: 26px;
  li > a {
    display: block;
    font-size: 0;
  }
  .post-thumbnail {
    border-radius: 10px;
    margin-bottom: 17px;
  }
  .title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2em;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 9%;
    width: 26.88%;
    &:last-child {
      margin-right: 0;
    }
  }
  h6 {
    font-weight: 600;
    font-size: 19px;
    color: $black;
    margin-bottom: 16px;
  }
  .post-text {
    font-size: 13px;
    color: $black;
    margin-bottom: 16px;
  }
  .meta {
    font-size: 12px;
    text-transform: uppercase;
    img {
      width: 15px;
      margin-right: 8px;
    }
    a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }

}
.subscribe {
  padding-top: 35px;
  padding-bottom: 75px;
  .title {
    font-weight: bold;
    font-size: 48px;
    line-height: 68px;
    color: #FCC013;
    margin-bottom: 14px;
  }
  .icon-submit-icon:before {
    color: $blue;
  }
  &-form {
    padding-top: 10px;
    padding-bottom: 20px;
    form {
      position: relative;

      button {
        font-size: 24px;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }


}
form {
 input[type=text], input[type=email], input[type=number], input[type=password] {
   outline: 0;
   font-size: 14px;
   padding: 21px 17px;
   width: 100%;
   box-shadow: -3px 4px 4px rgba(0, 0, 0, 0.1);
   border: 1px solid #A1A4B1;
   border-radius: 5px;
 }
}
@media (min-width: 1200px) {

}
@media (max-width: 1199px) {
  .post-list li{
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 991px ) {
  .hero-section {
    background: url('../img/hero-frame-mutted.png') center / 90% no-repeat;
    .btn-primary {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }

  .blog {
    &-header h3{
      font-size: 6rem;
    }
    .category-nav{
      display: none;
    }
    .latest-article .col-lg-6:last-child {
      padding-left: 16px;
    }
  }

}

@media  screen and ( max-width: 767px ) {
  .hero-section {
    .btn-primary {
      width: 100%;
    }
  }
}