h1, .h1 {
  font-weight: 200;
  line-height: 176px;
}
h3, .h3 {
  font-weight: $h3-font-weight;
}
h6, .h6 {
  font-weight: $h6-font-weight;
}
.btn {
  color: $white;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 33px;
  padding: 6px 18px;
  letter-spacing: 0.2px;
}
.btn:hover {
  color: $white;
}
.nav-link {
  font-size: 16px;
}
#navbarText {
  margin-left: 55px;
}