@import "variables";
@import "icons";
p {
  margin-bottom: 2rem;
  & ~ hr, & ~ h2, & ~ h3, & ~ h4, & ~ h5, & ~ h6 {
    margin-bottom: 15px;
  }

}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}
hr {
  margin-top: 35px;
  margin-bottom: 20px;
  border-top: 1px solid $blue;
}
img {
  max-width: 100%;

}
.color {
  &-blue, &-teal {
    color: $blue;
  }
  &-yellow {
    color: $yellow;
  }
  &-white {
    color: $white;
  }
  &-brand-{
    &-purple {
      color: $brand-purple;
    }
  }
}
.bg {
  &-brand {
    &-purple {
      background-color: $brand-purple;
      &-muted {
        background-color: $brand-purple-muted;
      }
    }
    &-red {
      background-color: $brand-red;
      &-muted {
        background-color: $brand-red-muted;
      }
    }
    &-orange {
      background-color: $brand-orange;
      &-muted {
        background-color: $brand-orange-muted;
      }
    }
    &-green {
      background-color: $brand-green;
      &-muted {
        background-color: $brand-green-muted;
      }
    }
    &-chocolate{
      background-color: $brand-chocolate;
      &-muted {
        background-color: $brand-chocolate-muted;
      }
    }
    &-teal {
      background-color: $brand-teal;
      &-muted {
        background-color: $brand-teal-muted;
      }
    }
  }
}
.btn-lg {
  padding: 21px 43px;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #131313;
  &:hover{
    color: #131313;
  }
}

img:not([src]) {
  visibility: hidden;
}