@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?masaen');
    src:  url('../fonts/icomoon.eot?masaen#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?masaen') format('truetype'),
    url('../fonts/icomoon.woff?masaen') format('woff'),
    url('../fonts/icomoon.svg?masaen#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e900";
    color: #fff;
}
.icon-facebook:before {
    content: "\e901";
    color: #fff;
}
.icon-google:before {
    content: "\e902";
    color: #fff;
}
.icon-linkedin:before {
    content: "\e903";
    color: #fff;
}
.icon-submit-icon:before {
    content: "\e904";
    color: #fff;
}
