$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1120px
);
$grid-gutter-width: 32px;

$white:    #FFFFFF;
$gray-100: #FAFCFA;
$gray-200: null;
$gray-300: #F0F3F1;
$gray-400: #DBDCDD;
$gray-500: null;
$gray-600: null;
$gray-700: #B8B9BA;
$gray-800: null;
$gray-900: #575758;
$black:    #24282C;

$blue:    #39B6D5;
$yellow:  #FCC013;
$indigo:  null;
$purple:  null;
$pink:    null;
$red:     null;
$orange:  null;
$green:   null;
$teal:    $blue;
$cyan:    null;

// eAssist colors
$brand-purple: #C661A5;
$brand-purple-muted: #C661A5;
$brand-red: #D93A31;
$brand-red-muted: #EF4136;
$brand-green: #559A52;
$brand-green-muted: #66B360;
$brand-orange: #FAA61A;
$brand-orange-muted: #FBB040;
$brand-chocolate: #E27A23;
$brand-chocolate-muted: #F58426;
$brand-teal: #57B29F;
$brand-teal-muted: #60C3AD;

$font-family-sans-serif: Raleway;
$font-family-monospace: null;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1.25rem;

$font-weight-base:            400;
$line-height-base:            1.4;

$h1-font-size:                $font-size-base * 6.25;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2.4;
$h4-font-size:                $font-size-base * 2.4;
$h5-font-size:                $font-size-base * 2.05;
$h6-font-size:                $font-size-base * 1.8;
$h7-font-size:                $font-size-base * 1.2;

$headings-font-weight: 400;
$h3-font-weight: 700;
$h6-font-weight: 600;

$btn-border-radius:           .3125rem;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;

$navbar-nav-link-padding-x:         .625rem !default;
$navbar-light-color:                rgba($gray-900,1) !default;
