<main>
    <div class="blog-content">
        <article class="latest-article">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pl-lg-0 pr-lg-0">
                        <div class="thumbnail"><a href="#"><img src="../assets/img/blog-post-thumbnail.png" alt="thumbnail"></a></div>
                    </div>
                    <div class="col-lg-6">
                        <header>
                            <nav class="categories">
                                <a href="#">CATEGORY 1 NAME, </a> <a href="#">CATEGORY 2 NAME</a>
                            </nav>
                            <h2 class="title"><a href="#" class="h5">Headline headline</a></h2>
                        </header>
                        <p>Pudam, corporporro explandia duciis mi, quia istenihil esequost quatioribero blaciam consed elesequi dolorro moluptat idunt. Usandam ut lam, coriati atemquunt quatibus inusam in consed.</p>
                        <footer>
                            <div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="author" href="#">
                                JAYCEE BROWN</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div>
                        </footer>
                    </div>
                </div>
            </div>
        </article>
        <div class="articles-list">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category"
                                                                                                                                        href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a>, <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                               CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <article>
                            <header>
                                <div class="thumbnail"><a href="#" title="Headline headline"><img src="../assets/img/post-thumbnail-placeholder.png" alt="post-thumbnail"></a></div>
                                <h4><a href="#" class="h6 title" title="Headline headline">Headline headline</a></h4>
                            </header>
                            <p>Pudam, corporporro explandia duciis mi,quia istenihil esequost quatioribero blaciam consed elesequi dolorro</p>
                            <footer><div class="meta"><img src="../assets/img/post-author.png" alt="post-author" class="author-pic"> <a class="category" href="#">
                                CATEGORY NAME</a><span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span class="date">APR 30</span></div></footer>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title h3 color-yellow text-center">Subscribe now to stay in the loop</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                   <div class="subscribe-form">
                       <form action=""><input type="text" placeholder="Type your email address"><button type="submit" class="icon-submit-icon"></button></form>
                   </div>
                </div>
            </div>
        </div>
    </div>
    //= ../parts/bottom-cta-dark.html
</main>