<header class="blog-header">
    <div class="hero-title one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="h1">Blog</h3>
                    <h1 class="blog-tagline">Pudam, corporporro expldiaduciis</h1>
                </div>
            </div>
        </div>
    </div>
    <nav class="category-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                        <li><a href="#">Category 4</a></li>
                        <li><a href="#">Category 5</a></li>
                        <li><a href="#">Category 6</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>